<!--<!DOCTYPE HTML>-->
<!--<html>-->
<!--<head>-->
    <!--<meta charset="utf-8">-->
    <!--<title>Java Servlet JSON</title>-->
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">-->
    <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">-->
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
    <!--<script type="text/javascript"-->
            <!--src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>-->
    <!--<script type="text/javascript"-->
            <!--src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
    <!--<script type="text/javascript"-->
            <!--src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/js/mdb.min.js"></script>-->
<!--</head>-->

<!--<body>-->

<!--<script>-->
    <!--function sendAjax() {-->

        <!--// get inputs-->
        <!--var article = new Object();-->
        <!--article.title = $('#title').val();-->
        <!--article.url = $('#url').val();-->
        <!--article.categories = $('#categories').val().split(";");-->
        <!--article.tags = $('#tags').val().split(";");-->

        <!--$.ajax({-->
            <!--url: "jsonservlet",-->
            <!--type: 'POST',-->
            <!--dataType: 'json',-->
            <!--data: JSON.stringify(article),-->
            <!--contentType: 'application/json',-->
            <!--mimeType: 'application/json',-->

            <!--success: function (data) {-->
                <!--$("tr:has(td)").remove();-->

                <!--$.each(data, function (index, article) {-->

                    <!--var td_categories = $("<td/>");-->
                    <!--$.each(article.categories, function (i, tag) {-->
                        <!--var span = $('<span class="label label-info" style="margin:4px;padding:4px">'-->
                            <!--+ '</span>');-->

                        <!--span.text(tag);-->
                        <!--td_categories.append(span);-->
                    <!--});-->

                    <!--var td_tags = $("<td/>");-->
                    <!--$.each(article.tags, function (i, tag) {-->
                        <!--var span = $('<span class="label label-info" style="margin:4px;padding:4px">'-->
                            <!--+ '</span>');-->
                        <!--span.text(tag);-->
                        <!--td_tags.append(span);-->
                    <!--});-->

                    <!--$("#added-articles").append($('<tr/>')-->
                        <!--.append($('<td/>')-->
                            <!--.html("<a href='"+article.url+"'>"+article.title+"</a>"))-->
                        <!--.append(td_categories)-->
                        <!--.append(td_tags)-->
                    <!--);-->


                <!--});-->
            <!--},-->
            <!--error:function(data,status,er) {-->
                <!--alert("error: "+data+" status: "+status+" er:"+er);-->
            <!--}-->
        <!--});-->
    <!--}-->
<!--</script>-->


<!--<h1 style="text-align:center">Java Servlet Send & Receive JSON<br></h1>-->

<!--&lt;!&ndash; article inputs &ndash;&gt;-->
<!--<div class="article" style="margin:10px;">-->
    <!--<div class="input-prepend">-->
        <!--<span class="add-on">Title</span>-->
        <!--<input class="span4" id="title" name="title"-->
               <!--type="text" placeholder="Article Title...">-->
    <!--</div>-->
    <!--<br/>-->

    <!--<div class="input-prepend">-->
        <!--<span class="add-on">URL</span>-->
        <!--<input class="span4" id="url" name="url"-->
               <!--type="text" placeholder="http://...">-->
    <!--</div>-->
    <!--<br/>-->

    <!--<div class="input-prepend">-->
        <!--<span class="add-on">Categories</span>-->
        <!--<input class="span2" id="categories" name="categories"-->
               <!--type="text" placeholder="category1;category2;...">-->
    <!--</div>-->
    <!--<br/>-->

    <!--<div class="input-prepend">-->
        <!--<span class="add-on">Tags</span>-->
        <!--<input class="span2" id="tags" name="tags"-->
               <!--type="text" placeholder="tag1;tag2;...">-->
    <!--</div>-->
    <!--<p>-->
        <!--<button class="btn btn-primary"-->
                <!--type="button" onclick="sendAjax()">Add</button>-->
    <!--</p>-->
<!--</div>-->

<!--&lt;!&ndash; display all articles &ndash;&gt;-->
<!--<div style="margin-left:5%;width:50%">-->
    <!--<h5 style="text-align:center">-->
        <!--<i style="color:#ccc"><small>Articles</small></i>-->
    <!--</h5>-->

    <!--<table id="added-articles" class="table">-->
        <!--<tr>-->
            <!--<th>Title</th>-->
            <!--<th>Categories</th>-->
            <!--<th>Tags</th>-->
        <!--</tr>-->
    <!--</table>-->
<!--</div>-->



<!--</body>-->
<!--</html>-->